@using YDL.Model;
@using YDL.Web;
@using YDL.Utility;
@model GameTeam

@{
    ViewBag.Title = "参赛队修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link href="@ViewHelper.BuildStaticPath("~/Content/css/default/dialog.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .inputSize {
            width: 350px;
            padding-top: 5px;
            margin: 0 auto;
        }

        .info-title {
            font-weight: bold;
        }
    </style>

}
@section Body{
    <div style="width:400px;margin:0 auto;">
        <form id="form1" onsubmit="return false;">
            @if (!string.IsNullOrEmpty(Model.HeadUrl))
            {
                <div style="width:200px;margin:0 auto;">
                    <img src="@ViewHelper.BuildStaticPath(ViewHelper.FileFolderPath + Model.HeadUrl)" url="@Model.HeadUrl" class="img-circle" />
                </div>
                <div id="uploadbtnbar"></div>
            }

            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName">&#12288;参赛队</span>
                <input type="text" id="TeamName" name="TeamName" value="@Model.TeamName" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>
            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName">&#12288;成&#12288;员</span>
                <input type="text" id="TeamUserName" name="TeamUserName" value="@Model.TeamUserName" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>
            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName">联系手机</span>
                <input type="text" id="MobilePhone" name="MobilePhone" value="@Model.MobilePhone" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>
            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName">&#12288;备&#12288;注</span>
                <input type="text" id="Remark" name="Remark" value="@Model.Remark" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>
            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName">&#12288;创建人</span>
                <input type="text" id="CreatorName" name="CreatorName" value="@Model.CreatorId.GetLinkName()" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>
            <div class="input-group inputSize">
                <span class="input-group-addon info-title" id="spanName"></span>
                <input type="text" id="CreateDate" name="CreateDate" value="@Model.CreateDate" class="form-control" placeholder="" aria-describedby="spanName" disabled />
            </div>

            <div class="input-group inputSize">
                <textarea class="form-control" rows="5" id="auditRemark" name="auditRemark" placeholder="其他说明"></textarea>
            </div>
            <div class="btn-group" role="group" style="float:right;margin:10px 25px 0 0;">
                <button type="button" class="btn btn-default" id="btnSave">保存</button>
            </div>
        </form>
    </div>
}

@section Script{
    <script src="@ViewHelper.BuildStaticPath("~/Scripts/dialog.js")" type="text/javascript"></script>
    <script src="@ViewHelper.BuildStaticPath("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@ViewHelper.BuildStaticPath("~/Scripts/swfupload.js")" type="text/javascript"></script>
    <script src="@ViewHelper.BuildStaticPath("~/Scripts/annex.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var swfup;
        $(function () {
            $('#uploadbtnbar').annex({
                type: 1,
                fileamount: 1,
                button_padding_left: 13,
                button_padding_top: 1,
                button_width: '93',
                button_height: '28',
                button_text: '浏览图片...',
                uploadSuccess: function (file) {
                    var imgdiv = $('#img_gamelog');
                    imgdiv.attr('url', file.url).attr('src', convertUrl(file.url));
                }
            });
            swfup = $('#uploadbtnbar').getAnnex();


            $('#btnSave').click(function () {
                save();
            })
        })

        function save() {
            var model = $.formSerialize('form1', 'o');
            model.HeadUrl = $('#img_gamelog').attr('url');
            model.id = '@Model.Id';

            $.post(convertUrl('~/Game/GameTeamCheckSave/'), model, function (res) {

                if (!res.IsSuccess) {
                    top.errorBox(res.Message);
                } else {
                    top.closeDiag(window, true, true);
                }

            }, 'JSON');
        }
    </script>
}


